@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    display: grid;
    grid-template-areas: 'header'
                         'board'
                         'footer';
    grid-template-columns: auto;
    grid-template-rows: 191px calc(100vh - 191px - 72px) 72px;
    min-height: 100vh;
    margin: 0;
    background-image: url('./BG.jpg');
    background-position: center;
    background-size: cover;
    
}

.header {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    margin: 0;
    grid-area: header;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-image: linear-gradient(rgba(255, 255, 255, 0.521) 10%, rgba(0, 0, 0, 0));
    box-shadow: 10px 10px 10px 10px rgba(1, 19, 28, 0.442);
    backdrop-filter: blur(6px);
    
    
    
}

.footer {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.notify {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

#winner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    text-align: center;
    
    flex: 1 1 auto;
}

#winner > button {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    border: solid black 1px;
    border-radius: 10px;
    background: whitesmoke;
    transition: transform 0.5s ease-out;
}

#winner > button:hover {
    transform: scale(120%);
    
}

.nameGame {
    max-height: 190px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(54px, 1fr));
}


.nameGame > p{
    border: 1px dashed rgb(255, 255, 255);
    margin: 0px;
    min-height: 54px;
    min-width: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(1, 27, 42, 0.104);
    
}


.board-container {
    grid-area: board;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.15);
       
}

.playersChoice {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.board {
    background-color: rgba(255, 255, 255, 0.644);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    height: 251px;
    width: 251px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    
}

.board > div {
    border: solid 0.5px black;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    backdrop-filter: blur(6px);
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    font-weight: 900;
}

button {
    background: transparent;

}


#X, #O {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    font-weight: 900;
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

#X:hover, #O:hover {
    transform: scale(120%);
}






.footer {
    grid-area: footer;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.521) 70%);
    box-shadow: 10px 10px 10px 10px rgba(1, 19, 28, 0.442);
    backdrop-filter: blur(6px);
}